<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="css/setup.css">
<link href="/css/tabs.css" rel="stylesheet" type="text/css">
<link href="/css/iovar-cards.css" rel="stylesheet" type="text/css">

<%- include("partials/navbar.ejs") %>

<div class= "container mainContainer">
    <h3>Setup</h3>
    <p>Here you set the baseline scenario, i.e. the default run at start.</p>

    <%- include("partials/designer") %>
    <br><br>

    <ul class="nav nav-tabs tabsBar" role="tablist">
        <!-- <li class="nav-item">
            <a class="nav-link active" id="tab1" data-toggle="tab" href="#pane1" role="tab" >Main</a>
            <input type="text" name="nameTab1" id="#nameTab1" class="hidden nav-link" value="Main">
        </li> -->

        <li class="nav-item lastTab editMode editModeHidden">
            <a class="nav-link" data-toggle="tab" role="tab" href="#">
                Add <img src="/img/icons/add.svg" alt="" class="addTabButton mx-auto">
            </a>
        </li>
    </ul>

    <div class="tab-content" id="tab-content">
    </div>

    <div class="container" style="text-align: center;">
        <br>
        <hr>

        <button type="button" class="setBaseline btn btn-lg btn-block btn-primary">Set Baseline</button>
    </div>
    

</div>

<script type="text/javascript" src="/js/utils/tabs.js"></script>
<script type="text/javascript" src="js/utils/iovar-cards.js"></script>

<script type="text/javascript" src="/js/setup-panes.js"></script>
<script type="text/javascript" src="/js/setup-load.js"></script>


<%- include("partials/footer") %> 