
/* h1 {
    margin: 0 auto 20px;
} */

#baseDiv{
    margin-top: 73px;
}

.nav-icon{
    width: 25px;
    filter: opacity(0.5);
}
.editSiteButton:hover .nav-icon{
    filter: invert() opacity(1);
}

footer{
    margin: 150px auto;
    margin-bottom: 20px;
    padding-left: 30px;
    color: grey
}
.hidden{
    display:none!important;
}
.editModeHidden{
    display:none!important;
}

.designerCtrl .row button {
    margin: 0 5px;
}